---
- name: Deploy tiller permissions
  shell: kubectl apply -f {{ role_path }}/tasks/helm/tiller-prerequisites.yaml 

- name: Install tiller server
  shell: helm init --service-account tiller

- name: Waiting for tiller pod
  wait_for: timeout=60
